.editProduct-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editProduct-h1 {
    margin: 1rem 0
}

.form-editProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 28em;
    width: 80%;
}

.form-editProduct label {
    font-weight: 600;
    margin: 1.5rem 0 .5rem;
}

.form-editProduct textarea {
    resize: none;
    height: 6rem;
    width: 100%;
    padding: 10px 12px;
    outline: none;
}

.input-editProduct {
    height: 2rem;
    outline: none;
    padding: 0 .5rem;
}

.boton-editProduct {
    margin: 3rem 0 4rem;
    height: 2rem;
    background-color: rgb(47, 132, 250);
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
}

.check-editProduct {
    height: 1.5rem;
    width: 1.5rem;
}