@media (min-width: 64em) {
    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer a {
        text-decoration: none;
        color: #ffffff;
        margin-right: 2rem;
    }
    
    footer picture img {
        height: 5rem;
        width: 5rem
    }
}