footer {
    background-color: #202020;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 1rem;
}

footer picture img {
    height: 4rem;
    width: 4rem
}