@media (min-width: 64em) {
    .featured, .comics, .collectibles {
        max-width: none;
    }

    .product-article {
        width: 25%;
    }
}

@media (min-width: 72.5em) {
    .featured, .comics, .collectibles {
        max-width: 72em;
    }
}