@media screen and (min-width: 48em) {
    .featured, .comics, .collectibles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .product-article {
        width: 35%;
    }

    .add-cart {
        max-width: 15rem;
    }
}

@media (min-width: 52.5em) {
    .featured, .comics, .collectibles {
        max-width: 52.5em;
    }
}