@media screen and (min-width: 48em) {
    .featured {
        display: grid;;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2.5rem;
    }

    .comics {
        display: grid;;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2.5rem;
    }

    .collectibles {
        display: grid;;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2.5rem;
    }
}