.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-h1 {
    margin: 1rem 0
}

.profile-section picture {
    width: 14rem;
}

.profile-container-1 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-container-2 {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-section img{
    width: 100%;
}

.first-p {
    width: 100%;
    font-weight: 600;
    margin: 1.5rem 0 .5rem;
}

.second-p {
    width: 100%;
    border: 1px solid #202020;
    border-radius: 2px;
    padding: 1rem .5rem;
}

.profile-section a {
    text-decoration: none;
    text-align: center;
    margin: 2rem 0 5rem;
    width: 100%;
    padding: .5rem;
    background-color: rgb(47, 132, 250);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.pedidos-section {
    display: flex;
    flex-direction: column;;
    max-width: 28em;
    width: 100%;
    margin-bottom: 5rem;
}

.second-div-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.first-div-profile {
    background: #202020;
    color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second-div-profile {
    border-top: 1px solid #202020;
    margin-bottom: .5rem;
    padding: .5rem;
    text-align: center;
}

.envio {
    display: none;
}

.viewOrderButton-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewOrderButton-container button {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #202020;
    color: #fff
}

.pedidos-section div {
    margin-bottom: .5em;
}

.fa-eye {
    display: none;
}

@media screen and (min-width: 26.7em) {
    .pedidos-section {
    max-width: 26.7em;
    }

    .profile-container-1 {
        max-width: 26.7em;
    }

    .first-div-profile {
        max-width: 26.7em;
    }
}
